<validatorconfig>
	<URLSettings>
		<URL>app5.internal.bis2.net</URL>
		<URLuser>irina</URLuser>
		<URLpass>developer</URLpass>
	</URLSettings>
	<DatabaseSettings>
		<Driver>SQL Server</Driver>
		<Server>10.0.4.26</Server>
		<Database>CRMDemo</Database>
		<User>BIS2User</User>
		<Password>3Bx?zPaae</Password>
	</DatabaseSettings>
	<AdvancedSettings>
		<StartingJoins>BIS2_GEO_Chairs,cqa</StartingJoins>
		<EndingJoins>BIS2_Site</EndingJoins>
	</AdvancedSettings>
</validatorconfig>