<validatorconfig>
	<URLSettings>
		<URL>mcrs-vizapp.casino.prv</URL>
		<URLuser>irina</URLuser>
		<URLpass>developer</URLpass>
	</URLSettings>
	<DatabaseSettings>
		<Driver>SQL Server</Driver>
		<Server>10.200.2.106</Server>
		<Database>BIS2Data</Database>
		<User>BIS2User</User>
		<Password>B1$2u$er</Password>
	</DatabaseSettings>
	<AdvancedSettings>
		<StartingJoins>CRMDemo.dbo.BIS2_VW_Site</StartingJoins>
		<EndingJoins>CRMDemo.dbo.BIS2_GEO_chairs,CRMDemo.dbo.cqa</EndingJoins>
	</AdvancedSettings>
</validatorconfig>